<%= form_with model: [shop, report], class: "row g-3" do |f| %>
  <div class="col-12 col-md-6">
    <%= f.label :visited_on, class: "form-label" %>
    <%= f.date_field :visited_on, class: "form-control", required: true, max: Date.current %>
  </div>

  <div class="col-12 col-md-6">
    <%= f.label :heated_tobacco_status, class: "form-label" %>
    <%= f.select :heated_tobacco_status, Report.heated_tobacco_statuses.keys.map { |key| [Report.human_enum_name(:heated_tobacco_status, key), key] }, {}, class: "form-select", required: true %>
  </div>

  <div class="col-12 col-md-6">
    <%= f.label :papper_tobacco_status, class: "form-label" %>
    <%= f.select :papper_tobacco_status, Report.papper_tobacco_statuses.keys.map { |key| [Report.human_enum_name(:papper_tobacco_status, key), key] }, {}, class: "form-select", required: true %>
  </div>

  <div class="col-12">
    <%= f.label :comment, class: "form-label" %>
    <%= f.text_area :comment, class: "form-control", rows: 6, maxlength: 1000, required: true, placeholder: "利用時の喫煙状況や店内の様子などを入力してください。" %>
    <div class="form-text">最大1000文字</div>
  </div>

  <% if report.errors.any? %>
    <div class="col-12">
      <div class="alert alert-danger mb-0">
        <p class="fw-semibold mb-2">入力内容をご確認ください。</p>
        <ul class="mb-0 ps-3">
          <% report.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="col-12 d-flex flex-wrap gap-2 pt-2">
    <%= f.submit "投稿する", class: "btn btn-success" %>
    <%= link_to "店舗詳細へ戻る", shop_path(shop), class: "btn btn-outline-secondary" %>
  </div>
<% end %>
